<div *ngIf="isLoggedIn; else loggedOut">
  <div *ngIf="isNotEmpty; else emptyPlaylist" style="background-color: whitesmoke;">
    <div class="img-fluid img" style="background-image: url({{imageUrl}})"></div>
    <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle"
                               [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
                               [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true"></mat-advanced-audio-player>
  </div>
  <ng-template #emptyPlaylist>
    <div class="d-flex flex-column pt-4 align-items-center">
      <div class="h2 p-2 text-center text-white">Playlist is empty, go and add your favorite songs</div>
      <a class="btn btn-warning" routerLink="../../../home">Search Songs</a>
    </div>
  </ng-template>
</div>

<ng-template #loggedOut>
  <div class="d-flex flex-column pt-4 align-items-center">
    <div class="h2 p-2 text-center text-white">Please, login to listen playlists</div>
    <a class="btn btn-warning" routerLink="../../../auth/login">Login</a>
  </div>
</ng-template>
