<div class="foto">
<div class=" row col-sm-6 textpalce addBlock" *ngIf="isLoggedIn; else loggedOut">
  <h1 class="header" style = "color: #e0a800">Add new song </h1>
  <br>
  <div>
    <label style = "color: whitesmoke" >Song title:
      <input class="form-group border border-medium border-warning"  style="margin-left: 30px;" #title />
    </label>
    <br>
    <label style = "color: whitesmoke">Song author:
      <input class="form-group border border-medium border-warning" style="margin-left: 20px;" #author />
    </label>
    <br>
    <label style = "color: whitesmoke">Song coverUrl:
      <input class="form-group border border-medium border-warning" #coverUrl />
    </label>
    <br>
    <label style = "color: whitesmoke" >Song audioUrl:
      <input class="form-group border border-medium border-warning" #audioUrl />
    </label>
    <br>
    <button class="btn btn-warning buttonCute" (click)="add(title.value, author.value, coverUrl.value, audioUrl.value);
                  title.value=''; author.value=''; coverUrl.value=''; audioUrl.value=''">
      Add
    </button>
  </div>
</div>

<ng-template #loggedOut>
  <div class="d-flex flex-column mt-4 align-items-center">
    <div class="h2 p-2 text-center text-white">Please, login to listen music</div>
    <a class="btn btn-warning" routerLink="../auth/login">Login</a>
  </div>
</ng-template>
</div>
