.nav-link{
  marigin:0;
}

.buttonCute{
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  transition: 0.3s;
}

.img{
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
