<div class="fotoBackground">
<div *ngIf="isLoggedIn; else loggedOut">
  <div class="d-flex pt-4 justify-content-center list">
    <div class="form-inline md-form mb-4">
      <input class="form-control mr-sm-2 border border-medium border-warning" type="text"  placeholder="Search" aria-label="Search" (input)="search($event)">
    </div>
  </div>

  <div class="card-group justify-content-center">
    <div *ngFor="let song of songsFilter" class="card m-2 border-0" style="min-width: 400px; max-width: 600px;">
      <div style="background-color: whitesmoke;">
        <div class="img-fluid img" style="background-image: url({{song.coverUrl}})"></div>
        <mat-basic-audio-player [audioUrl]="song.audioUrl" [title]="song.title + ' - ' + song.author" [autoPlay]="false" muted="muted"
                                [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="msbapDisplayVolumeControls" ></mat-basic-audio-player>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="d-flex flex-column pt-4 align-items-center">
    <div class="h2 p-2 text-center text-white">Please, login to listen music</div>
    <a class="btn btn-warning" routerLink="../auth/login">Login</a>
  </div>
</ng-template>
</div>
